@import url('https://fonts.googleapis.com/css?family=Caveat+Brush&display=swap');
@import url("index.css");

hr {
    padding-top: 3%;
    border: 0;
    height: 0;
    border-bottom: dotted white 8px;
}


.blog-entry {
    border-radius: 25px;
    padding: 1%;
    margin: 1% auto;
    border: 1px solid #010101;
    box-shadow: 3px 5px;
    width: 50vw;
    background-color: white;
}

.form {
    width: 40%;
    margin: auto;
}

input,
textarea,
button {
    width: 60%;
    margin: 0;
    box-sizing: border-box;
    font-family : inherit;
    font-size: 100%;
    resize: none;
}

@media only screen and (max-width: 600px) {
    .blog-entry {
        width: 80vw;
    }
    .form {
        width: 80vw;
    }
}




