@import url('https://fonts.googleapis.com/css?family=Caveat+Brush&display=swap');

/* Gradient from https://uigradients.com/#MasterCard */
body {
    background: #f46b45;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #eea849, #f46b45);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #eea849, #f19a44, #f38b42, #f47b42, #f46b45); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    min-height: 100vh;
    text-align: center;
    font-family: 'Caveat Brush', cursive;
    font-size: 1.3rem;
}

h1 {
    text-shadow: 2px 2px #fff;
    font-size: 4rem;
}

a:hover {
    color: white;
}

a:visited {
    color: #606060;
}

img {
    padding-bottom: 3%;
}

.text {
    width: 60%;
    margin: 1% auto;
}

.delete {
    color: red;
    font-weight: bold;
    padding: 0.1%;
    display: inline-block;
    margin-left: 1%;
}

.login,
.comment {
    border: dotted white 8px;
    padding-bottom: 1%;
    width: 40%;
    margin: 1% auto;
}

input,
button,
textarea {
    width: 60%;
    margin: 0;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 100%;
    resize: none;
}

footer {
    padding-top: 3%;
    width: 100%;
}

.comment-list {
    padding-top: 3%;
    border-bottom: dotted white 8px;
}

@media only screen and (max-width: 600px) {
    .comment,
    .login {
        width: 80vw;
    }
}

