<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" href="../static/css/index.css" th:href="@{/css/index.css}" rel="stylesheet" media="screen"/>
</head>
<body>

<main>
    <div>
        <p th:if="${sessionUser == null || !sessionUser.isAdmin()}">
            This is an admin only area!
        </p>
        <div th:each="user : ${users}" th:if="${sessionUser != null && sessionUser.isAdmin()}"  class="login">
            <p>Username: <span th:text="${user.userName}"></span></p>
            <p>ID: <span th:text="${user.getId()}"></span></p>
            <p>Adminstatus: <span th:text="${user.isAdmin()}"></span></p>
            <form method="GET"><a th:href="@{/admin/{userid}(userid=${user.id})}"><span>Change Admin status</span></a></form>
        </div>


        <p><a th:href="@{/blog}">Continue to read and write blogs</a></p>
    </div>
</main>

</body>
</html>
