<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Write Comment</title>
    <link type="text/css" href="../static/css/index.css" th:href="@{/css/index.css}" rel="stylesheet" media="screen"/>
</head>
<body>

<main>
    <div th:object="${blogEntry}">
        <div class="comment blog-entry">
            <h1 th:text="${blogEntry.header}"></h1>
            <p th:text="${blogEntry.text}"></p>
        </div>

        <div class="comment">
            <h2 th:if="${sessionUser != null}">Write a comment</h2>
            <form th:if="${sessionUser != null}" th:object="${commentDTO}"
                  th:action="@{/blog/comments/{id}(id=${blogEntry.id})}" method="POST">

                <p>Header:<br>
                <p><input type="text" placeholder="Enter Header" th:field="*{header}"></p>
                <p th:if="${#fields.hasErrors('header')}" th:errors="*{header}"></p>

                <p>Comment:<br><textarea type="text" placeholder="Enter your text" th:field="*{text}"></textarea></p>
                <p th:if="${#fields.hasErrors('text')}" th:errors="*{text}"></p>

                <p><input type="submit" value="Add Comment"></p>

                <form method="GET">
                    <a th:href="@{/blog/}"><b>Back to the blog entries</b></a>
                </form>
            </form>
            <form method="GET">
                <a th:if="${sessionUser == null}" th:href="@{/blog/}"><b>Back to the blog entries</b></a>
            </form>
        </div>

        <div th:each="comment : ${comments}" class="comment-list">
            <span th:text="${comment.dateTime}"></span>
            <span th:text="${'von ' + comment.getUser().getUserName()}"></span>

            <form class="delete" th:action="@{/blog/comments/{blogEntryid}/{commentId}(commentId=${comment.id}, blogEntryid=${blogEntry.id})}" th:method="POST" th:if="${sessionUser != null}">
                <input type="submit" value="X">
            </form>

            <p th:text="${comment.header}"></p>
            <p th:text="${comment.text}"></p>
        </div>
    </div>

</main>

</body>
</html>
