<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog Entries</title>
    <link type="text/css" href="../static/css/blog.css" th:href="@{/css/blog.css}" rel="stylesheet" media="screen"/>
</head>

<body>
<main>
    <h1>Java Winter Blog</h1>

    <div th:each="blogEntry : ${blogEntries}">              <!--    Iteration durch die bestehenden blogentries  -->

        <div class="blog-entry">
            <h2 th:text="${blogEntry.header + ' von ' + blogEntry.getUser().getUserName()}"></h2>
            <span th:text="${blogEntry.text}"></span>

            <form th:action="@{/blog/options/{blogEntryid}(blogEntryid=${blogEntry.id})}" th:method="POST" th:if="${sessionUser != null && sessionUser.isAdmin() && !blogEntry.isAdminOptionsVisible()}">
                <input type="submit" value="show Admin Options">
            </form>

            <div th:if="${sessionUser != null && sessionUser.isAdmin() && blogEntry.isAdminOptionsVisible()}">
                <form th:action="@{/blog/update/{blogEntryid}(blogEntryid=${blogEntry.id})}" th:method="POST" th:object="${blogEntryDTO}">
                    <input type="text" th:field="*{header}" th:value="${blogEntry.header}">
                    <input type="text" th:field="*{text}" th:value="${blogEntry.text}">
                    <input type="submit" th:value="update">
                </form>
                <form th:action="@{/blog/delete/{blogEntryid}(blogEntryid=${blogEntry.id})}" th:method="POST">
                    <input type="submit" th:value="delete">
                </form>
                <form th:action="@{/blog/options/{blogEntryid}(blogEntryid=${blogEntry.id})}" th:method="POST" th:if="${sessionUser != null && sessionUser.isAdmin() && blogEntry.isAdminOptionsVisible()}">
                    <input type="submit" value="hide Admin Options">
                </form>
            </div>

        </div>

        <form method="GET">
            <a th:href="@{/blog/comments/{id}(id=${blogEntry.id})}">
                <span th:text="${'Comments: ' + blogEntry.commentsCounter}"></span>
            </a>
        </form>
    </div>

    <hr>

    <a th:href="@{/}">Back to Login Area</a>


    <div class="form" th:if="${sessionUser != null && sessionUser.isAdmin()}">   <!-- Form um neue Blogentries hinzuzufügen-->
        <h2>Add a new blog entry</h2>
        <form th:object="${blogEntryDTO}" th:action="@{/blog}" method="POST">
            <p>Title: <br>
            <p><input type="text" th:field="*{header}"></p>

            <p th:if="${#fields.hasErrors('header')}" th:errors="*{header}"></p>
            <p>Your thoughts: <br>
                <textarea type="text" th:field="*{text}"></textarea></p>
            <p th:if="${#fields.hasErrors('text')}" th:errors="*{text}"></p>
            <p><input type="submit" value="Post"></p>
        </form>
    </div>
</main>

</body>
</html>
