<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cookies & Code</title>
    <link type="text/css" href="../static/css/index.css" th:href="@{css/index.css}" rel="stylesheet" media="screen"/>
    <link rel="shortcut icon" href="https://cdn.pixabay.com/photo/2018/02/25/12/06/cookie-3180329_960_720.png">
</head>
<body>
<div>
    <h1>Cookies and Code</h1>
    <p class="text">
        Welcome Coding Noob! This is the best place to learn more about cookies and code. You are surrounded by a
        delightful group of people who will find every bug in your code and every fallacy in your argumentation.
    </p>
    <p class="text">
        Please register below if you dare to share.
    </p>
<!--    <img src="https://miro.medium.com/max/455/1*snTXFElFuQLSFDnvZKJ6IA.png" alt="doggy">-->
    <div class="login">

        <form th:object="${userDTO}" th:action="@{/login}" method="POST">
            <!-- /login befindet sich im UserController -->

            <p> Username:</p>
            <input type="text" placeholder="Enter Username" th:field="*{userName}">
            <!--            <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>-->
            <p> Password:</p>
            <input type="password" placeholder="Enter Password" th:field="*{password}">
            <!--            <p th:if="${#fields.hasErrors('header')}" th:errors="*{password}"></p>-->
            <p><input type="submit"></p>
        </form>

        <p><a th:href="@{/register}">Register here</a></p>
        <p><a th:href="@{/deleteCookie}">Continue without login</a></p>

    </div>

    <footer>
        Copyright &copy; 2019, Adam Korkosz & Kerstin Bonev-Wagner
    </footer>
</div>
</body>
</html>
