<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" href="../static/css/index.css" th:href="@{css/index.css}" rel="stylesheet" media="screen"/>
</head>
<body>

<main>
    <div class="login">
        <h2>Welcome my friend <span th:text="${userName}"></span> !</h2>
        <p><a th:href="@{/blog}">Continue to read and write blogs</a></p>
    </div>
</main>

</body>
</html>