<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" href="../static/css/index.css" th:href="@{css/index.css}" rel="stylesheet" media="screen"/>
</head>
<body>

<main>
    <div class="login">

        <form th:object="${userDTO}" th:action="@{/register/success}" method="POST">
            <!-- DTO wird an den UserController versendet-->

            <p> Username:</p><input th:field="*{userName}" type="text" placeholder="Enter Username">

            <p> Password:</p><input th:field="*{password}" type="password" placeholder="Enter Password">
            <p> Confirm:</p><input th:field="*{password2}" type="password" placeholder="Confirm Password">

            <p><input type="submit" value="Register"></p>
        </form>
    </div>
</main>

</body>
</html>
